####################################
# Node.js
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example

####################################
# Flutter / Dart
####################################
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/app/build/
android/local.properties

####################################
# DevOps / Cloud / Infra
####################################
*.pem
*.key
*.crt
*.p12
*.log
terraform.tfstate
terraform.tfstate.*
.terraform/
.kube/
helm/.cache/
ansible/*.retry

####################################
# CI / Coverage
####################################
coverage/
lcov.info

####################################
# IDE / Editor
####################################
.vscode/
.idea/
*.iml



####################################
# OS Files
####################################
.DS_Store
Thumbs.db

/generated/prisma
