/* Forgot card spacing */
.forgot-card{
  width: 420px;
}

/* Heading like image */
.forgot-card h2{
  text-align: left;
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 26px; 
}

/* Input style closer to image */
.form input{
  background: #f3f3f3;
}
