*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --card-bg: #ffffff;
  --accent: #1677ff;
}

/* PAGE */
.page{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eef4ff;
  padding: 24px;
}

/* OUTER PANEL */
.outer-card{
  width: 100%;
  max-width: 1400px;
  height: 90vh;
  background: rgba(22,119,255,0.08);
  border-radius: 22px;
  padding: 26px;
}

/* CONTAINER */
.container{
  display: flex;
  height: 100%;
  gap: 140px;
  align-items: center;
}

/* LEFT */
.left-card{
  flex: 1.4;
  background: var(--card-bg);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.art-wrap img{
  width: 520px;
  max-width: 100%;
}

/* FLOAT */
/* .float{
  animation: float 3s ease-in-out infinite;
}
@keyframes float{
  0%{transform: translateY(0)}
  50%{transform: translateY(-12px)}
  100%{transform: translateY(0)}
} */

/* RIGHT */
.right-card{
  flex: 0 0 380px;
  background: var(--card-bg);
  border-radius: 18px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  width: 100%;
  margin-bottom: 100px;
}

.form h2{
  text-align: center;
  margin-bottom: 22px;
  font-size: 22px;
  font-weight: 700;
}

/* INPUTS */
.form input{
  width: 100%;
  padding: 14px 18px;
  border-radius: 30px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
  background: #f2f4f8;
  font-size: 14px;
}

/* BUTTON */
.btn{
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg,#1e8bff,#0f66d6);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8px;
  transition: all 0.3s ease;
}

.btn:not(:disabled):hover{
  background-color: #0f66d6;
}
 .btn:disabled{
  background: #a0c4ff;
  cursor: not-allowed;
}
/* BACK LINK */
.back-link{
  text-align: center;
  margin-top: 14px;
  color: #1677ff;
  font-size: 14px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px){
  .container{
    flex-direction: column;
    gap: 24px;
  }

  .outer-card{
    height: auto;
  }

  .left-card img{
    width: 260px;
  }
}
